@model IEnumerable<MVCGarage.Models.Vehicle>

@{
    ViewBag.Title = "Garage AB";
}

<br />
<br />
<br />
<br />


<h2>Garage AB</h2>

<br />
<br />

<form method="get" action="/Garage/CheckIn">
    <button type="submit">Check in</button>
</form>

<br />

<form method="get">
    <input type="search" name="search" value="" />
    <label><input type="checkbox" name="_refid" value="true" />ParkingID</label>
    <label><input type="checkbox" name="_regnr" value="true" />RegNr</label>
    <label><input type="checkbox" name="_owner" value="true" />Owner</label>
    <label><input type="checkbox" name="_date" value="true" />Date</label>

    <button type="submit">Search</button>

</form>
<br />
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateParked)
        </th>
        <th>
            Fee
        </th>
        <th>
           Options
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateParked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fee)
        </td>
        <td>
            @Html.ActionLink("Options", "Options", new {  id=item.ParkingID  }) 
        </td>
    </tr>
}

</table>