@model IEnumerable<MVCGarage.Models.Vehicle>

@{
    ViewBag.Title = "Garage AB";
}

<h2>Garage AB</h2>


<!--Knapp för att checka in ett fordon-->

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<input type="button" value="Check in" />
<br/>

<form method="get">
    <input type="search" name="Search" value="Search vehicle..." />
    <label><input type="checkbox" name="RegNR" value="true" />RegNr</label>
    <label><input type="checkbox" name="Name" value="true" />Name</label>
    <label><input type="checkbox" name="Date" value="true" />Date</label>

    <button type="submit">Search</button>

</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ParkingID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
           Options
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ParkingID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Owner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateParked)
        </td>
        <td>
            @Html.ActionLink("Edit", "options", new { /* id=item.PrimaryKey */ }) 
        </td>
    </tr>
}

</table>
